.SearchBar{
    display: flex;
    width: calc(100vw - 20px);
    margin-top: 10px;
}

.SearchBar input{
    font-size: 1rem;
    padding: .5rem .6rem;
    width: 100%;
    box-sizing: border-box; 
}

.buttonSearch{
    height:37px;
    width: 100px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #1a62d6;
}

.buttonSearch:hover{
    background-color: #1756bb;
}